.companyInfo{
    width: 70%;
}

.imageWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 3px 6px 0 black;
    padding: 1rem;
    transition: transform .3s;
    margin-bottom: 1rem;
}

.imageWrapper:hover{
    box-shadow: 1px 3px 6px 0 tomato;
    transform: scale(1.025)
}